<section class="our-vision" id="vision">
  <div class="tittle-vision">
    <a class="tittle">Nossa Visão</a>
  </div>

  <div class="text-vision">
    <p class="txt-vision">
      Ser a maior empresa de engenharia consultiva do país, atuando em toda a cadeia de fornecimento de serviços, suprindo as demandas do mercado nacional e internacional, de forma eficaz e eficiente, comprometida com a qualidade e a inovação.
      Valorizamos a sustentabilidade, a ética profissional e o desenvolvimento contínuo de nossa equipe, promovendo parcerias estratégicas e contribuindo para o progresso das comunidades onde estamos presentes. Nosso objetivo é estabelecer padrões de excelência, entregando soluções inovadoras e de alto impacto, que gerem valor e confiança para nossos clientes e parceiros.
    </p>
  </div>

  <img class="pista-image" src="/vision-image.png" alt="pista-image">


</section>
