@import url("https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&display=swap");

footer {
  position: relative;
  background: #0c092c;
  height: 75vh;
  color: #fff;
  font-family: "Exo", sans-serif;
}

hr {
  border: 0;
  border-top: 1px solid #297be5;
  margin: 0 auto 1.5rem;
  width: 70%;
}

p {
  font-size: 18px;
}

h2 {
  font-size: 22px;
  font-weight: bold;
}

a {
  font-size: 1.2rem;
  color: #fff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: #b7b0b0;
}

ul {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 25px;
  font-weight: 400;
}

.header-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  margin: 10px 0 40px;
  padding-top: 100px;
}
.fone {
  position: relative;
  left: 10px;
}
.contact-info {
  display: flex;
  align-items: center;
  margin: 2.5rem 0;
  padding-left: 400px;
}

.contact-info h2 {
  font-size: 17px;
  padding-bottom: 3px;
  color: #297be5;
}

.contact-info a {
  font-weight: bold;
}

.social-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  position: relative;
  right: 250px;
}

.social-icons img:hover {
  filter: invert(50%) sepia(10%) saturate(500%) hue-rotate(200deg);
}

.divider-div {
  width: 1px;
  height: 100%;
  background-color: #297be5;
  margin: 0 auto;
  position: relative;
  top: 40px;
}

.body-footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 80px;
  margin-bottom: 100px;
}

.about-section {
  text-align: center;
  max-width: 350px;
  margin: 1.5rem auto;
  line-height: 1.2;
  position: relative;
  left: 200px;
}

.about-section p {
  font-size: 18px;
  font-weight: lighter;
}

.company-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.company-section h2 {
  text-decoration: underline;
}

.support-section {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.support-section h2 {
  text-decoration: underline;
}

.footer-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-footer p {
  font-weight: lighter;
}
