<footer>
    <div class="header-footer">
        <div class="contact-info">
            <img width="16" height="17" src="/fone-footer.svg">
            <h2>Ligue-nos</h2>
            <a href="tel:+9999999999">+99 9999-9999</a>
        </div>
        <div class="divider-div"></div>
        <div class="social-icons">
            <img src="/facebook-footer.svg">
            <img src="/instagram.svg">
            <img src="/linkedin-footer.svg">
            <img src="whatsapp-footer.svg">
        </div>
    </div>
    <hr divider>
    <div class="body-footer">
        <div class="about-section">
            <p>Nossa empresa combina expertise técnica e tecnologia avançada para proporcionar um atendimento excepcional e atender às necessidades específicas de cada cliente.</p>
        </div>
        <div class="company-section">
            <h2>Empresa</h2>
            <ul>
                <li><a href="#">inicio</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Serviços</a></li>
            </ul>
        </div>

        <div class="suport-section">
            <h2>Suporte</h2>
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Carreira</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </div>
    <hr divider>
    <div class="footer-footer">
        <p>© Copyright 2024 All rights reserved.</p>
    </div>
</footer>