<footer>
    <div class="header-footer">
        <div class="contact-info">
            <img src="/fone-footer.svg" alt="Ícone Telefone" width="50" height="50">
            <div class="fone">
                <h2>Ligue-nos</h2>
                <a href="tel:+9999999999">+99 9999-9999</a>
            </div>
        </div>
        <div class="divider-div"></div>
        <div class="social-icons">
            <a href="#"><img src="/facebook-footer.svg" alt="Facebook" width="25" height="25"></a>
            <a href="#"><img src="/instagram.svg" alt="Instagram" width="25" height="25"></a>
            <a href="#"><img src="/linkedin-footer.svg" alt="LinkedIn" width="25" height="25"></a>
            <a href="#"><img src="whatsapp-footer.svg" alt="WhatsApp" width="25" height="25"></a>
        </div>
    </div>

    <hr divider>

    <div class="body-footer">
        <div class="about-section">
            <p>
                Nossa empresa combina expertise técnica e tecnologia avançada para proporcionar um atendimento excepcional e atender às necessidades específicas de cada cliente.
            </p>
        </div>
        <div class="company-section">
            <h2>Empresa</h2>
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Contato</a></li>
                <li><a href="#">Serviços</a></li>
            </ul>
        </div>
        <div class="support-section">
            <h2>Suporte</h2>
            <ul>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Carreira</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>
    </div>

    <hr divider>

    <div class="footer-footer">
        <p>© Copyright 2025 All rights reserved.</p>
    </div>
</footer>